.header {
  padding-top: 30px;
  padding-bottom: 35px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  width: 100%;
  z-index: 3;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header__logo-text {
  color: $color-alice-blue;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 15px;
  padding: 0;

  @include vp-767 {
    display: none;
  }
}

.header__logo-img {
  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.header__logo-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 5px;
  font-family: $ff-roboto-condensed;
}

.header__logo-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-family: $ff-roboto;

  color: rgba($color-white, 0.7);
}

.header__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  //display: flex;
  //width: max-content;
  display: grid;
  grid-template-columns: repeat(2, 225px);

  @include vp-1023 {
    display: flex;
    margin-right: 20px;
  }

  @include vp-767 {
    margin-right: 10px;
  }
}

.header__link {
  color: $color-alice-blue;
  line-height: 18px;
  display: flex;
  align-items: center;

  @include vp-1023 {
    padding: 10px;
    margin-left: 20px;
  }
}

.header__link-text {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__button {
  border: 1px solid #F2F5F7;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
