.header {
  position: fixed;
  z-index: 3;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;

  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  @include vp-767 {
    margin-top: 5px;
  }
}

.header__list {
  display: grid;
  margin: -6px 0 0 15px;
  padding: 0;

  list-style-type: none;

  gap: 30px;
  grid-template-columns: repeat(2, 225px);

  @include vp-1023 {
    display: flex;
    margin: -17px 17px 0 0;

    gap: 5px;
  }

  @include vp-767 {
    margin: 0 10px 0 0;

    gap: 0;
  }
}

.header__link {
  display: flex;
  align-items: center;

  line-height: 18px;
  color: $color-alice-blue;

  @include vp-1023 {
    margin-left: 20px;
    padding: 10px;
  }
}

.header__link-text {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}

.header__button {
  margin: -8px 60px 0 0;

  border: 1px solid $color-alice-blue;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
