.intro {
  min-height: 880px;

  color: $color-alice-blue;

  background-color: $color-black-pearl;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 19%;
  background-size: cover;

  @include vp-1023 {
    min-height: 640px;
  }

  @include vp-767 {
    min-height: 560px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background@2x.jpg");
  }
}

.intro__container {
  margin-left: 10.8%;
  padding-top: 302px;

  @include vp-1023 {
    margin-left: 0;
    padding-top: 180px;
  }

  @include vp-767 {
    padding-top: 150px;
  }

  p {
    max-width: 685px;
    margin: 0 0 62px;
    padding: 0;

    font-weight: 400;
    font-size: 22px;
    line-height: 34px;

    @include vp-1023 {
      margin: 0 0 74px;
    }

    @include vp-767 {
      margin: 0 0 55px;

      font-size: 14px;
      line-height: 22px;
    }
  }
}

.intro__title {
  margin: 0 0 34px;
  padding: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 94px;
  font-family: $ff-roboto-condensed;
  text-transform: uppercase;
  letter-spacing: 0.11em;

  @include vp-1023 {
    margin: 0;

    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.09em;
  }

  @include vp-767 {
    margin-bottom: 7px;

    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.07em;
  }
}

.intro__link {
  padding: 15px 25px 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  background-color: $color-deep-sky-blue;
  border-radius: 3px;

  transition: opacity $trans-default;
  margin-left: 0;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    margin-left: 0;
    padding: 10px 38px;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }

  &--desktop {
    @include vp-767 {
      display: none;
    }
  }
}
