.social {
  margin-right: 160px;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    margin-left: -18px;
    margin-bottom: 17px;
  }
}

.social__logo-link {
  display: block;
  margin-bottom: 24px;

  @include vp-767 {
    margin-bottom: 3px;
    margin-left: 10px;
  }
}

.social__list {
  display: flex;
  margin: 0 0 0 -5px;
  padding: 0;

  list-style-type: none;

  @include vp-1023 {
    margin: 6px -8px 0 0;
  }
}

.social__item {
  margin-left: 15px;
}

.social__icon {
  padding: 5px;

  fill: $color-white;
}
